<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Woops! Page Not Found</title>
</head>
<body>
    <h1>404 - Page not Found</h1>
    <p>This usually happens when a link is typed in the address bar manually and mis-spelled, or if a page has been removed from a website</p>
    <p>Have no fear though! <a href="/">Click here</a> to return to the homepage.</p>
</body>
</html>