    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">Product Name</label>
                <input type="text" name="productName" id="title" />
                <label for="price">Price</label>
                <input type="number" name="productPrice" id="price" />
                <textarea name="productDescription" id="description">Product Description</textarea>
            </div>
            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>